*{
    margin:0;
    padding: 0;
    text-align: center;
}

#wrapper{
    display:grid;
    grid-template-rows: 1fr 9fr;
    
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    padding: 0 70px;
    background-color: #fdf9f3;
}

#logo{
    transform: scale(1.5, 1); 
    font-size: 2.5em;
}

#content{
    display: flex;
    
    height: 95vh;
}