*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

#content{
    display:flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

#header{
    height: 10%;
    background-color: #2ECC40;
    flex-basis:25%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#menu{
    background-color: #FFDC00;
    flex-grow:1;
    display:flex;
    align-items: center;
    justify-content: center;
}

#content1{
    height: 55%;
    background-color: #f012be;
    flex-basis: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#content2{
    height: 25%;
    background-color: #0074d9;
    flex-basis: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#content3{
    background-color: white;
    flex-basis: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#imgextra{
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#image{
    background-color: #ff4136;
    flex-basis: 100%;
    align-self: stretch;
    display:flex;
    align-items:center;
    justify-content: center;
}
#extra{
    background-color: #01ff70;
    flex-basis: 100%;
    align-self: stretch;
    display:flex;
    align-items:center;
    justify-content: center;
}

#footer{
    height: 10%;
    flex-basis:100%;
    background-color: #b10dc9;
    display:flex;
    align-items: center;
    justify-content: center;
}