@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css);

.fas{
    font-size: 1.4em;
    cursor: pointer;
}

.fa-user-friends{
    color: #820095;
    
}

.fa-arrow-left{
    color: #34AAA9;
}