*{
    padding: 0;
    margin: 0;
}

#menu{
    display:flex;
    align-items:center;
    background-color: black;
    padding: 10px;
}

#menu img{
    width: 50px;
    border-radius: 30px;
}
#menu ul{
    display: inline-flex;
    align-items:center;
}
#menu li{
    display: inline;
    padding: 5px;
}

#hist{
    margin-left: auto;
    text-align:right;
}

a{
    color: white;
    text-decoration:none;
    padding: 5px;
}

a.efeito:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    transition: background-color 0.5s , color 0.5s;
    transition-timing-function: linear;
}

#content{
    padding: 20px;
}

#content img{
    width: 30%;
    height: 30%;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#footer{
    background-color: gray;
    padding: 10px
}

#footer p{
    text-align: center;
}


#estoque{
    padding: 0 30px;
}

#estoque img{
    width: 250px;
}

#estoque td{
    padding: 20px 50px
}

td, th{
    align-items: center;
    text-align: center;
}

#formulario{
    padding: 0 20px;
}

#formulario label{
    margin: 5px 0;
    display: block;
}
#formulario input{
    width: 30%;
    display: block;
    margin: 5px 0;
}

#formulario select{
    display: block;
}

input[type="submit"]{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

#funcionarios{
    padding: 20px 0;
    list-style-type: none;
    display:block;
}

#funcionarios li{
    margin: 10px 0;
}

#historico li{
    list-style-type: none;
}

#historico td{
    padding: 3px 50px;
}
