*{
    margin: 0;
    padding: 0;
    background-color: #24292e;
    color: white;
    scroll-behavior: smooth;
}

div{
    box-sizing: border-box;
}

#wrapper{
    width: 100vw;
    height: 100vh;
}

#menulateral{
    display:inline-block;
    padding: 30px 0;
    position: fixed;
    width: 19%;
    height: 100%;
    border-right: 2px solid #404448;
    text-align: center;
}

#mnimg{
    width: 90%;
}


#menulateral ul{
    list-style-type: none;
}
#menulateral li{
    font-family: Open Sans,sans-serif;
    font-size: 1.5em;
    padding-bottom: 10px;
}

#redes{
    list-style: none;
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#redes li{
    margin-right: 10px;
}

a{
    color: white;
    text-decoration:none;
}

a:hover {
    color: #777777;
    transition: color 0.5s;
}

#content{
    display: inline-block;
    width: 81%;
    height: 93vh;
    margin-left: 19vw;
    padding: 2%;
    overflow: scroll;
    overflow-x:hidden;
}

.divisoria{
    margin: 3vh 0;
    border-color: #404448
}

#sobre, #portfolio, #contato{
    height: 100%;
    width: 100%;
    margin-bottom: 8.5vh;
}

h2{
    padding-bottom: 1.5vh;
    font-size: 2em;
}

#sobre p{
    padding: 15px 0;
    font-size: 1.2em;
}

#foto{
    margin: 0 auto;
    display: flex;
    width: 20%;
    border-radius: 50%;
    border: 4px solid #404448;
}

input{
    display:block;
}

label{
    display:block;
    font-size: 1.2em;
    padding: 10px 0;
}

#formulario{
    width:30%;
    height: 30%;
}

#nome, #email{
    width: 100%;
    height: 15%;
}

#texto{
    width: 100%;
    height: 70%;
}

#botao{
    margin: 15px auto;
    width: 40%;
    height: 20%;
    border-radius: 5px;
}

#footer{
    margin-left:19vw;
    height: 7vh;
    width: 81vw;
    position: fixed;
    text-align: center;
}